.heading-section {
    background-color: #198754;
    height: 30px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    align-items: center;
    color: white;
}

.question-heading {
    padding-left: 20px;
}

.review-main-section {
    padding: 20px;
    border: 1px black solid;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 0;
}



/* .review-main-section {} */

.review-details {
    border-radius: 5px;
}

.review-heading {
    background-color: rgba(0, 0, 0, 0.03);
    margin: 0;
    height: 30px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-bottom: 0;
}

.review-details p {
    padding-left: 10px;
}

.review-details-section {
    border: 1px solid gray;

}