.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_section {

    display: flex;
    flex-direction: column;
}

p {
    text-align: left;
}

.form {
    display: flex;
    flex-direction: row;
}