

  
  .inputs {
    margin-bottom: 20px;
  }
  
  .input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  img {
    width: 20px;
    margin-right: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .message {
    color: #27ae60; /* Success message color */
    margin-bottom: 20px;
  }
  
  .submit:hover {
    background-color: #2980b9; /* Hover background color */
  }
  
  .back-to-login {
    margin-top: 10px;
  }
  
  a {
    color: #3498db; /* Link color */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  